.map__image,
.map__image_product {
  width: 50%;
  margin: auto;
}

/* //////First  Map / */


.map__image path {
  fill: rgb(2, 245, 31);
  stroke: #fff;
  stroke-width: 1px;
  transition: fill 0.3s;
}



.map__image path:hover {
  fill: #727072;
}

.map__list {
  float: right;
  width: 50%;
}


/* //////Detail Map / */

svg {
  max-width: 100% !important;
  height: auto;
  display: block;
}

.description,.descriptionProduct{
  pointer-events: none;
  position: absolute;
  font-size: 18px;
  text-align: center;
  background: white;
  padding: 10px 15px;
  z-index: 5;
  height: auto;
  line-height: auto;
  margin: 0 auto;
  color: #21669e;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #eee;
  display: none;
}

.info,.infoProduct {
  position: absolute;
  color: gray;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #eee;
  background: white;
  padding: 10px 15px;
  margin: 0 auto;
  display: none;
  width: 300px;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.info:after,
.infoProduct:after {
  content: "";
  position: absolute;
  left: 0%;
  top: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid red;
  transform: translateY(-50%);
}

.description.active,
.descriptionProduct.active {
  display: block;
}

.info.active,
.infoProduct.active {
  display: block;
}



/* //////Second Map/ */

.map__image_product path {
   fill: gray; 
  stroke: #fff;
  stroke-width: 1px;
  transition: fill 0.3s;
}

.map__image_product path:hover {
  fill: #727072;
}


.map__image_product .disable {
  fill: rgb(247, 247, 247);
}

/* .description:after{
content: '';
position: absolute;
left: 50%;
top: 100%;
width: 0;
height: 0;
margin-left: -10px;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid white;
} */




.purple {
  fill: #ec008c !important;
}

.disable{
  pointer-events: none;
}